body,
html {
    font-family: Mulish, sans-serif;
    background-color: #ffffff;
    font-size: 10px;
}

main {
    background-image: url("../svg/background/apps-bckgrnd.svg");
    background-repeat: no-repeat;
    background-position: right top 45%;
}

.container-xl {
    width: 1217px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: bold;
    color:#233348;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.logo::before {
    content: 'T';
    font-size: 2.6rem;
    line-height: 2.7;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background: #458FF6;
}

header {
    padding: 62px 0;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation a {
    font-size: 1.8rem;
    line-height: 1.27;
    color: #1F1534;
    opacity: 0.5;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.navigation a::before {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
}

.navigation a:hover {
    font-weight: bold;
    opacity: 1;
}

.hero {
    padding-top: 23px;
    background-image: url("../svg/background/header-bcgrnd.svg");
    background-position: left top;
    background-repeat: no-repeat;    
}

.hero > div {
    gap: 109px;
}

.hero h1 {
    font-size: 4.8rem;
    line-height: 1.17;
    margin-bottom: 25px;
    font-weight: bold;
}

.hero p {
    font-size: 2.1rem;
    line-height: 1.52;
    font-weight: 300;
    margin-bottom: 45px;
    color: #7D7987;
}

.our-services {
    padding-bottom: 220px;
    padding-top: 192px;
    background-image: url("../svg/background/os-dots.svg"), url("../svg/background/os-drop.svg");
    background-repeat: no-repeat;
    background-position: right 5.5% top 51.3%, left -120px top 44%;
}

.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.55;
    text-align: center;
    margin-bottom: 33px;
}

.container h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}


.our-services-p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #7D7987;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 85px;
    margin-right: 85px;
}

.content-card p{
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7D7987
}

.our-services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 69px;
}

.our-services li {
    width: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 23px;
    color: #1F1534;
    background-color:white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    display: flex;
    flex-direction: column;
}
  
.content-card {
    padding: 54px 37px 45px 46px;
}

.container img{
    height: 90px;
}

.content-card h3 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.3;
    padding-top: 22px;
}

.container-md {
    width: 1273px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.providers-contetn h2 {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.55;
    text-align: left;
    margin-bottom: 26px;
}

.providers-contetn h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin-top: 31px;
}

.providers-contetn p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.75;
    color: #7D7987;
    margin-bottom: 37px;
    margin-right: 31px;
}

.providers > div {
    gap: 142px;
}

.container-apps {
    width: 1365px;
    margin-top: 229px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-apps h2 {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.55;
    text-align: left;
    margin-bottom: 31px;
}

.container-apps h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin-top: 30px;
}

.apps-content p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.75;
    color: #7D7987;
    margin-bottom: 40px;
}

.mobile-apps > div {
    gap: 71px;
}

/* What our customer are saying */

.customer {
    padding-top: 251px;
    background-image: url("../svg/background/customer-block-bckgrnd.svg");
    background-repeat: no-repeat;
    background-position: left 52px bottom 15%;
}

.slider {
    padding-top: 42px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
}

.slider img {
    opacity: 0.3;
}



.slider ul {
    display: flex;
    gap: 18px;
}

.slider ul li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5B9BF3;
    opacity: 0.3;
}

.slider img:hover {
    opacity: 1;
}
.slider ul li button:hover {
    opacity: 1;
}

.rotate {
    transform: rotate(-180deg);
}

.customer-container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../svg/background/costomer-bckgrnd.svg"), linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background-repeat: no-repeat;
    background-position: right -47px top -15px, center;
    color: white;
    border-radius: 24px;
}

.customer-content {
    display: flex;
    justify-content: space-between;
    padding: 66px 118px 79px;
    align-items: center;
}

.customer-container h2 {
    padding-top: 64px;
    font-size: 3.6rem;
    line-height: 1.33;
    font-weight: bold;
    text-align: center;
}

.customer-container h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.customer-container img {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    flex-shrink: 1;
}

.customer-content div {
    padding-left: 29px;
}

.customer-content h3 {
    font-size: 2.2rem;
    line-height: 2.18;
    font-weight: bold;
}

.customer-content div p {
    font-size: 1.8rem;
    line-height: 2.66;
    color: rgba(255, 255, 255, 0.85);
}

.customer-content > p {
    width: 420px;
    padding-left: 110px;
    font-size: 1.9rem;
    line-height: 1.57;
    color: rgba(255, 255, 255, 0.9);
    flex-grow: 2;
}

.customer-content > p::before {
    content: '“';
}

.customer-content > p::after {
    content: '”';
}
/* Check out our latest article */

.articles {
    padding-top: 222px;
    padding-bottom: 200px;
    background-image: url("../svg/background/article-drop.svg"), url("../svg/background/article-dots.svg"), url("../svg/background/footer-bckgrnd.svg");
    background-repeat: no-repeat;
    background-position: right top 50%, left 5% top 30%, right 91px bottom -50px;
}

.container-6 {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.articles h2 {
    font-size: 3.6rem;
    line-height: 1.55;
    font-weight: bold;
    margin-bottom: 79px;
    text-align: center;
}
 .articles h2::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px; 
}

.articles ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
    margin-bottom: 70px;
}

.articles li {
    width: 350px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    overflow: hidden;
}

.articles li >img {
    width: 100%;
}

.articles-card-content {
    padding: 24px 33px 35px;
}

.articles-card-content h3 {
    font-size: 2.1rem;
    line-height: 1.52;
    font-weight: bold;
    margin-bottom: 12px;
}

.articles-card-content p {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7D7987;
    font-weight: 300;
    margin-bottom: 25px;
}

.articles-card-content a {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.65;
    color: #4089ED;
    display: inline-flex;
    gap: 15px;
    align-items: baseline;
}

.button-consult {
    display: flex;
    justify-content: start;
}

.button-consult a {
    font-size: 1.8rem;
    line-height: 3.33;
    padding: 1px 40px;
    border-radius: 55px;
    border: 1px solid #458FF6;
    background-color: #458FF6;
    color: white;
    font-weight: bold;
    min-width: 200px;
    text-align: center;
}

.button-center {
    display: flex;
    justify-content: center;
}

.button-center a {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 15px 10px;
    border-radius: 55px;
    border: 1px solid #458FF6;
    color: #458FF6;
    font-weight: bold;
    min-width: 200px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: start;
}

.button a {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 15px 44px;
    border-radius: 55px;
    border: 1px solid #458FF6;
    color: #458FF6;
    font-weight: bold;
    min-width: 200px;
    display: inline-flex;
    text-align: center;
    gap: 15px;
}

/* footer */

.footer-container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../svg/background/footer-bckgrnd-cont.svg"), linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #ffffff;
    padding: 109px 190px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: left -5px bottom -5px, center;
}

.footer-container section {
    width: 391px;
}

.footer-container section h2 {
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 22px;
}

.footer-container section h2::before {
    content: 'T';
    font-size: 2.6rem;
    line-height: 2.7;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #458FF6;
    background: #ffffff;
}

.footer-container section > p {
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 300;
    /* padding-bottom: 31px; */
}

.footer-container section p:nth-last-child(1) {
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 300;
    padding-top: 31px;
}

.footer-container nav h2 {
    font-size: 2rem;
    line-height: 3;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-container ul {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}